{% extends 'admin/base_admin.html.twig' %}

{% block admin_title %}Change Password{% endblock %}

{% block admin_content %}

<div class="dashboard-header">
    <h1>Change Password</h1>
</div>

<div class="admin-password-box">
    <h2>Update Your Password</h2>

    <form method="POST">

        <label>New Password:</label>
        <input type="password" name="newPassword" class="form-input" required>

        <button type="submit" class="btn-update">Update Password</button>
    </form>

    <a href="{{ path('admin_profile') }}" class="btn-back">Back to Profile</a>
</div>

{% endblock %}
