parameters:
    uploads_directory: '%kernel.project_dir%/public/uploads/products'

services:
    _defaults:
        autowire: true
        autoconfigure: true

    App\:
        resource: '../src/'

    # Register ActivityLogger properly
    App\Service\ActivityLogger:
        arguments:
            $em: '@doctrine.orm.entity_manager'
            $security: '@security.helper'
