<!DOCTYPE html>
<html>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.0/css/all.min.css">
  <head>
    <meta charset="UTF-8">
    <title>{% block title %}Trailblaze{% endblock %}</title>

    {# Google fonts can be loaded here or inside individual templates #}
    {% block stylesheets %}
      <link href="https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700;900&family=Roboto:wght@400;500&display=swap" rel="stylesheet">
      <link rel="stylesheet" href="{{ asset('css/trailblaze.css') }}">
    {% endblock %}
  </head>
  <body>
    {% block body %}{% endblock %}
  </body>
</html>


