{% extends 'base.html.twig' %}

{% block title %}Dashboard{% endblock %}

{% block body %}
<div style="text-align:center; padding:50px;">
    <h1>Welcome, {{ username }}!</h1>
    <p style="font-size:1.2rem; color:#2F5233;">{{ user_message }}</p>
</div>
{% endblock %}
